<!DOCTYPE html>
<html>
	<head>
		<title>Posts</title>
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
			<meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	</head>
	<body id="body">
	    <style>
			body{
				font-family:'Lemon',cursive;
				background-color:#ffffff;
				overflow-x: hidden;
			}
			.gotopage{
				color:black;
	            background-color:#ddd;
	            height:35px;
	            width:70px auto;
	            border-radius:5px;
	            border-width:0;
	            border: 2px solid black;
			}
			.style{
                 float: none;
                 color: black;
                 padding: 16px;
                 text-decoration: none;
                 display: block;
                 text-align: left;
			}
			.container.hide{
				display: none;
			}
		</style>
	<nav class="navbar navbar-default navbar-expand-md navbar-light bg-light">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"  style="font-family:'Lemon',cursive;"><i class="home icon"></i>Home </a>
				<a class="navbar-brand" href="/posts"  style="font-family:'Lemon',cursive;"><i class="envelope icon"></i>Posts </a>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
			<div class="collapse navbar-collapse"id="navbarSupportedContent">
				<ul class="nav navbar-nav navbar-right mr-auto">
				<%if(!currentUser){%>
					   <li><a href="/login" style="font-family:'Lemon',cursive;">Login</a></li>
					   <li><a href="/register" style="font-family:'Lemon',cursive;">Sign Up</a></li>
				<%}else{%>
					<li><a style="font-family:'Lemon',cursive;">Signed in as <%=currentUser.username%></a></li>
					   <li><a href="/logout" style="font-family:'Lemon',cursive;">Logout</a></li>
				<%}%>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container" id="alert">
	<%if(message && message.length > 0){%>
	     <div class="alert alert-success" role="alert" style="font-family:'Lemon',cursive;"><%=message%></div>
	<%}%>
	</div>
		<div class="jumbotron">
			<h1 align = "center" style="font-family:'Lemon',cursive;">Posts</h1>
			<div align="center"  style="font-family:'Lemon',cursive;">A Website to share your feelings with the whole WORLD!</div><br>
			<div align="center"  style="font-family:'Lemon',cursive;">
			<a href="/posts/new" style="font-family:'Lemon',cursive;"><button style="font-family:'Lemon',cursive;" class="btn btn-primary btn-lg">
				Add New Post!
			</button></a>
			</div>
		</div>
		<hr>
		<div style="text-align:center;">
			<a href="#footer" class="ui violet basic button" style="font-family:'Lemon',cursive;" id="circle"><i class="chevron down icon"></i>Go to Bottom</a>
		</div>
		<div class="ui main text container segment">
		<h1 align="center" style="font-family:'Lemon',cursive;">
			Posts:
		</h1>
		<hr>
		<%for(i = 0;i < posts.length;i++){%>
			<h5  style="font-family:'Lemon',cursive;"><%=[i+1]%>) Post Title:
		    <a href="<%=posts[i].link%>"><%= posts[i].name %></a> - Author: <%= posts[i].author.username %></h5><div align="center"><a href="/posts/<%=posts[i]._id%>" class="ui floated  big basic violet button" style="font-family:'Lemon',cursive;" align="right">Read More<i class="right chevron icon"></i></a></div>
		<hr>
		<%}%>
		</div>
		<hr>
		<footer id="footer"></footer>
		<script>
			var reload = setInterval(function(){window.location.reload();}, 900000);
			var hide = setTimeout(function(){document.getElementById('alert').classList.add("hide");}, 5000);
		</script>
	</body>
</html>